!!!
%html
	%head
		%meta{:charset => 'utf-8'}
		%title PMD interactive report
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/styles.css'}
		%script{:src => '/js/jquery-3.1.0.min.js'}
		%script{:src => '/js/jquery.tablesorter.min.js'}
		%script{:src => '/js/jquery.tablesorter.widgets.min.js'}
		%script{:src => '/js/pmd.interactive.report.js'}
	%body{:onload => 'init();'}


	%table.tablesorter{:id => 'error_table'}
		%thead
			%tr
				%th= "Package"
				%th= "File"
				%th= "Problem"
				%th= "Priority"
				%th= "Line"
				%th= "Description"
		%tbody
			- @data[1,@data.length].each do |row|
				%tr
					%td= row["Package"]
					%td
						%a{:href => '/pmd/source?file='+row["File"].split("/").last+'&line='+row["Line"]}= row["File"].split("/").last
					%td.right= row["Problem"]
					%td.center= row["Priority"]
					%td.right= row["Line"]
					%td= row["Description"]
